# JetBrains-IDEs
**.idea

# Rust/Cargo build output
**target
node_modules/

# typescript compiler cache
*.tsbuildinfo

# eslint cache
.eslintcache

.keypairs/

dist


# Keys (CRITICAL - never commit)
*.json
**/target/deploy/*-keypair.json
!**/tsconfig.json
!**/package.json
!**/*.test.json
!target/idl/*.json

# Build artifacts
.program-cache/

bridge-amount-replacer/
bridge-adapter/
swap-and-bridge-adpater/*.md
solana/